li.stockListItem:nth-child(even) div.collapsible-header {
  background-color: rgb(245, 245, 245);
}

span.stockSymbol {
  font-weight: 600;
  margin-top: 7px;
}

span.stockPrice {
  margin-left: auto;
}

p.chartDisclaimer {
  font-size: smaller;
  color: rgb(75, 75, 75)
}

li.active {
  border: 2px solid #006064;
}