li.stockListItem:nth-child(even) div.collapsible-header {
  background-color: rgb(245, 245, 245);
}

span.stockPrice {
  margin-left: auto;
}

p.chartDisclaimer {
  font-size: smaller;
  color: rgb(75, 75, 75)
}

li.active {
  border: 1px solid lightseagreen;
}